* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark .navbar {
    background-color: #1e1e1e;
}

body.dark .recipe-card {
    background-color: #1e1e1e;
    border: 1px solid #444;
    color: #ffffff;
}

body.dark .recipe-card h2 {
    color: #ffffff;
}

body.dark .recipe-card p {
    color: #cccccc;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    /* color: #141414; */
    color: #ff6347;
}

a:active {
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.add-recipe-btn {
    text-align: right;
    margin-bottom: 20px;
}

.btn-add {
    background-color: #f8ce12;
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-add:hover {
    background-color: #d8d523;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.recipe-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card h2 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 1.5em;
    color: #333;
}

.recipe-card p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
}

.recipe-card .recipe-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #103eb9;
}


.btn-delete {
    background-color: #dc3545;
    margin-right: 5px;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

.recipe-image.default-image {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #999;
    height: 200px;
    border-radius: 10px;
}
